.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  background: rgb(70, 70, 240);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}
button:hover {
  transform: scale(1.08);
  transition: 0.3s all ease;
}

.product-card {
  border: 2px solid darkgray;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
span {
  margin: 7px 10px;
}

.product-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  border: 2px solid darkgrey;
  border-radius: 10px;
  padding: 8px 12px;
  margin: 7px auto;
}